/* Define fonts */
@font-face {
  font-family: 'Calligraphy Font';
  src: url('fonts/DecoType Thuluth II Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Helps with page load performance */
}

/* Font class */
.calligraphy-ar-font {
  font-family: 'Calligraphy Font', sans-serif; 
  font-size: 3rem;
}